<%if session.fetch(:user_id) != nil %>


<dl>

  <dd>
    <a class="btn btn-primary btn-lg btn-block" href="/address_form" role="button">Let you friends know where you will be</a>
  </dd>

</dl>
  </div>

  <dd>
   <a class="btn btn-secondary btn-lg btn-block" href="/friends" role="button">Check your friends are</a>
     </dd>

<% else %>

<div class="alert alert-primary" role="alert">
  Sign in to start!
</div>

<% end %>